<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077694916004-d31u72gskb4opcqh2mpgh4pst1e6ijs6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077694916004-d31u72gskb4opcqh2mpgh4pst1e6ijs6</string>
	<key>API_KEY</key>
	<string>AIzaSyC_S1e4brXWU7bSItva9rhdwq-0IqxVCNw</string>
	<key>GCM_SENDER_ID</key>
	<string>1077694916004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.thatsehannah.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-636b4</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-636b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077694916004:ios:b79858626f3fb0bd310d31</string>
</dict>
</plist>